$background-color: #ffffff;
$maintext-color: #212121;
$additionaltext-color: #757575;
$active-color: #2196f3;
$focused-button: #188ce8;
$footer-color: #2f303a;
$footer-contacts-color: #ffffff99;
$teams-background-color: #f5f4fa;
$works-descr-color: #2f303acc;
$client-link-color: #afb1b8;

$ff-raleway: "Raleway";
