.footer {
  background-color: $footer-color;

  &__div {
    @media screen and (max-width: 1199px) {
      margin-bottom: 60px;
    }
    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
    @media screen and (min-width: 767px) and (max-width: 1199px) {
      padding: 0 60px;
    }
  }

  &__container {
    @include desktop {
      display: flex;
      align-items: baseline;
    }
  }

  &__address {
    color: $background-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
  }

  &__link {
    color: $footer-contacts-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
    @include transition-common(color);
    @include transition-common(text-shadow);
  }

  &__link:focus,
  &__link:hover {
    color: $active-color;
    text-shadow: 0px 4px 4px #00000040;
  }

  &__contact:not(:last-child) {
    margin-bottom: 8px;
  }
}
.footer-logo-address {
  text-align: center;
  @include tablet {
    width: 232px;
  }
  @media screen and (max-width: 767px) {
    text-align: center;
    margin-bottom: 60px;
  }
  @include desktop {
    text-align: start;
  }
  &.section {
    padding: 60px 0;
  }
}
