.hero {
  background-color: #2f303a;
  &__title {
    margin-left: auto;
    margin-right: auto;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @include tablet {
      width: 700px;
    }
    @include desktop {
      font-size: 44px;
      line-height: 1.36;
    }
    color: $background-color;
    font-weight: 900;

    margin-bottom: 20px;
  }

  &__button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 30px;

    line-height: 1.875;
    min-width: 200px;
    min-height: 50px;
    border-radius: 4px;
    border-width: 2px;
    border-color: $focused-button;
    box-shadow: 0px 4px 4px 0px #00000026;

    @include transition-common(background-color);

    &__button:focus,
    &__button:hover {
      background-color: $focused-button;
    }
  }
}
.section.hero {
  background-image: linear-gradient(#2f303a40, #2f303a40),
    url("../../images/heroBG-mob-1x.jpg");
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(#2f303a40, #2f303a40),
      url("../../images/heroBG-mob-2x.jpg");
  }

  @include tablet {
    background-image: linear-gradient(#2f303a40, #2f303a40),
      url("../../images/heroBG-tab-1x.jpg");
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    background-image: linear-gradient(#2f303a40, #2f303a40),
      url("../../images/heroBG-tab-2x.jpg");
  }
  @include desktop {
    background-image: linear-gradient(#2f303a40, #2f303a40),
      url("../../images/heroBG-des-1x.jpg");
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
    screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    background-image: linear-gradient(#2f303a40, #2f303a40),
      url("../../images/heroBG-des-2x.jpg");
  }

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  max-width: 1600px;
  @include desktop {
    padding: 200px 0;
  }
}

.container.hero {
  background-color: transparent;
}
