.checkbox {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  text-align: center;

  &__input {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    outline: none;
  }

  &__label {
    position: relative;
    margin-left: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.46;
    letter-spacing: 00.03em;

    &::before {
      position: absolute;
      display: inline-block;
      content: " ";
      background-image: url(" data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' id='check-box' viewBox='0 0 34 32' %3E%3Cpath style='fill:%23ffffff' stroke-linejoin='miter' stroke-linecap='butt' stroke-miterlimit='4' stroke-width='0.64' d='M6.262 15.206l-0.221-0.211-0.221 0.208-3.085 2.925 0.243 0.234 11.408 10.88 0.221-0.211 24.256-23.139-0.243-0.23-3.043-2.902-0.221 0.211-20.97 19.987-8.125-7.75z' %3E%3C/path%3E%3C/svg%3E");
      height: 16px;
      width: 15px;
      border-radius: 30%;
      border: 2px solid #2a2a2a;
      text-align: center;
      margin-right: 8px;
      background-color: transparent;
      outline: transparent;
      fill: transparent;
      transform: translateX(-20px);

      @include transition-common(border-color);
      @include transition-common(background-color);
      @include transition-common(border-color);
    }

    &:hover::before,
    .checkbox__input:focus ~ &::before {
      outline: 2px green solid;
    }

    .checkbox__input:checked ~ &::before {
      background-color: $focused-button;
      border-color: $focused-button;
    }
  }
}
