.form {
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    &:not(:first-child) {
      margin-top: 10px;
    }
    &:first-of-type {
      margin-top: 12px;
    }
  }

  &__contact {
    position: relative;
  }

  &__label {
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.01em;
    color: #757575;
  }

  &__input {
    display: block;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    @media screen and (max-width: 479px) {
      width: 100%;
    }
    @include mobile {
      width: 370px;
    }
    height: 40px;
    padding-left: 40px;

    @include transition-common(border-color);
    @include desktop {
      width: 448px;
    }

    &:focus-within {
      border-color: $focused-button;
    }
    &:focus,
    .form__icon:hover {
      outline: transparent;
    }
  }

  &__icon {
    position: absolute;
    margin-left: 12px;
    top: 65%;
    transform: translateY(-50%);
    fill: #212121;

    @include transition-common(fill);

    .form__item:focus-within & {
      fill: $focused-button;
    }
  }

  &__button {
    margin: 0 auto;
    width: 200px;
    height: 50px;

    display: block;
    margin-top: 30px;
    padding: 10px 30px;
    line-height: 1.875;

    border-radius: 4px;
    border-width: 2px;
    border-color: $focused-button;
    box-shadow: 0px 4px 4px 0px #00000025;

    @include transition-common(background-color);

    &__button:focus,
    &__button:hover {
      background-color: $focused-button;
    }
  }
}

.form__comment__area {
  padding: 16px 12px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;

  @include transition-common(border-color);

  &:focus-within {
    border-color: $focused-button;
  }
  &:focus,
  &:hover {
    outline: transparent;
  }
}
